.main-container-team {
    background-color: #f8f8f8;
    padding-bottom: 3rem;
}

.container-meet-team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    width: 100%;
    padding: 2%;
}

.profile-data {
    float: left;
}

.profile-image {
    max-width: 50%;
    float: right;
}

@media screen and (max-width: 950px) {
    .container-meet-team {
        grid-template-columns: repeat(2, 1fr);
    }
}

.carousel-container {
    position: relative;
    height: 100%;
    max-width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    display: none;
    animation: zoom 0.4s linear;
}
.slide.active {
    display: block;
}

@keyframes zoom {
    0% {
        transform: scale(1.1);
    }
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: -80px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow {
    position: absolute;
    top: 50%;
    left: -80px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 815px) {
    .container-meet-team {
        width: 100%;
    }
    .profile-container {
        width: 100%;
    }
    .profile-image {
        max-width: 100%;
    }
    .left-arrow {
        left: -60px;
    }
    .right-arrow {
        right: -60px;
    }
}

.force-center-text {
    text-align: center;
    color: rgb(101, 202, 115);
    padding-top: 3rem;
    background-color: #f8f8f8;
}
