.form-container {
    padding: 3rem 20rem;
    display: flex;
    text-align: center;
}

.signup-image {
    width: 45%;
    margin-top: 0;
    object-fit: cover;
    border-radius: 4px;
}

.form {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.form-title {
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 400;
}

.form-description {
    color: #a9a9a9;
    font-weight: 300;
    font-size: 1rem;
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.hr-jobs {
    width: 100%;
    border: 0.5px solid #e7e7e7;
}

@media only screen and (max-width: 1600px) {
    .form-container {
        padding: 3rem 13rem;
    }
}

@media only screen and (max-width: 1200px) {
    .signup-image {
        display: none;
    }

    .form {
        width: 80% !important;
        margin: 0 auto !important;
    }

    .form-container {
        padding-left: 8%;
        padding-right: 8%;
        flex-direction: column-reverse;
    }

    .google-form {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .form-container {
        padding: 3rem 5rem;
    }

    .form {
        width: 100% !important;
    }
}

@media only screen and (max-width: 450px) {
    .form-container {
        padding: 3rem 2rem;
    }

    #firstName,
    #lastName,
    #email,
    #skills {
        padding: 2rem 1.4rem;
    }
}
