#name,
#email,
#message,
#web-dev-1 {
    outline: none;
    padding: 3rem 1.4rem;
    background: #eef5f3;
    border: 1px solid #eef5f3;
    color: #616161;
    font-size: 1rem;
}

#name {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#message {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#message {
    font-family: inherit;
    resize: vertical;
}
