.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: #f8f8f8;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typed-out-container {
    display: inline-block;
    margin-bottom: 1rem;
}

.typed-out {
    overflow: hidden;
    border-right: 0.15rem solid rgb(61, 173, 76);
    white-space: nowrap;
    font-size: 3rem;
    width: 0;
    animation: typing 1s steps(20, end) forwards;

    margin: 0 auto;
}

.person-image {
    display: inline-block;
    margin-left: 7rem;
    width: 25%;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .white-filter {
        padding: 3rem;
        background: rgba(255, 255, 255, 0.8);
        width: fit-content;
    }

    .typed-out-container {
        /* margin-bottom: 12.5rem; */
        /* transform: translateY(5rem); */
        height: 100%;
    }

    .person-image {
        display: none;
    }
}
