.course-learn-more-wrapper {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.course-content-teachers-wrapper {
    padding: 1rem 8rem;
    display: grid;
    align-items: center;
    grid-template-columns: 6fr 4fr;
    margin-top: 1rem;
}

.course-content-container-learn-more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    text-indent: -1.5rem;
    padding: 0.5rem;
    padding-inline-start: 3rem;
    padding-inline-end: 1.5rem;
    height: 100%;

    margin: 2rem;
}

.course-specific-title {
    color: rgb(101, 202, 115);

    margin: 0;
    font-family: "PT Sans", sans-serif;
}

.teachers-container {
    width: 100%;
}

.enroll-link {
    display: block;
    text-decoration: none;
    background-color: rgb(101, 202, 115);
    box-shadow: -1px 1.3px rgba(45.75, 129.75, 57, 0.6);
    color: white;
    border: none;
    margin: 2rem auto;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 1.05rem;
    width: 200px;
}

.center {
    text-align: center;
}

.video-container-learn-more {
    margin: 0 auto;
    width: 75%;
    height: 25rem;
    text-align: center;
}

.course-content {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding-inline-start: 0px;
}

.course-content-item {
    margin: 1rem;
}

.course-specific-banner {
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3%;
    padding-bottom: 4%;
    padding-left: 10%;
    padding-right: 10%;
}

.course-specific-data-container {
    text-align: center;
}

.course-specific-description {
    max-width: 80%;
    margin: 0px auto !important;
    text-align: center;
    /* margin-bottom: 2rem; */
    padding: 2%;
    line-height: 150%;
    padding-bottom: none;
    /* margin-bottom: none; */
}

.what-you-learn {
    text-align: center;
}

@media (hover: hover) {
    .enroll-link:hover {
        background-color: rgb(61, 173, 76);
        cursor: pointer;
    }
}

@media screen and (max-width: 1400px) {
    .course-specific-banner {
        grid-template-columns: 1fr;
    }
    .course-specific-description {
        margin-top: none;
        max-width: 50%;
    }

    .video-container-learn-more {
        width: 60%;
        margin: 0 auto;
        height: 30rem;
    }

    .course-content-teachers-wrapper {
        grid-template-columns: 1fr;
        grid-gap: 6%;
        padding: 1rem 3rem;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 1000px) {
    .video-container-learn-more {
        width: 80%;
        margin: 0 auto;
    }

    .course-specific-description {
        max-width: 70%;
    }
}

@media screen and (max-width: 815px) {
    .main-container-team {
        padding-bottom: 0;
    }

    .course-content-teachers-wrapper {
        grid-template-columns: 1fr;
        padding: 0;
        margin-bottom: 2rem;
    }
    .course-content-container-learn-more {
        padding: 0rem;
        padding-inline-start: 1rem;
        padding-inline-end: 0rem;
        margin: none;
    }

    .force-center-text {
        padding: none;
    }

    .video-container-learn-more {
        width: 80%;
        margin: 0 auto;
        height: 20rem;
    }

    .course-specific-description {
        max-width: 80%;
    }

    .course-specific-title {
        margin: 1rem;
    }
}
