.form-container {
    display: flex;
    justify-content: space-evenly;
}

.policy {
    width: 40%;
    text-align: center;
}

.form {
    width: 45%;
}

.payment-methods-h2 {
    color: rgb(101, 202, 115);
}

.payment-methods-ul {
    text-align: left;
    color: #4a4a50;
}

h2 {
    color: rgb(101, 202, 115);
}

@media only screen and (max-width: 1000px) {
    .form-container {
        flex-direction: column-reverse;
    }

    .policy {
        width: 100%;
        text-align: center;
    }

    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .form-container {
        flex-direction: column-reverse;
        margin-top: -3rem;
    }

    .policy {
        width: 100%;
        text-align: center;
    }
}
