.container {
    height: 100%;
    /* width: 100%; */
    text-align: center;
    padding: 4%;
}

.buttonStyle {
    padding: 10px 20px;
    margin-bottom: 2%;
    font-size: 18px;
}

.main {
    font-size: 42px;
    font-weight: normal;
}

.sub {
    font-size: 36px;
    color: black;
    font-weight: normal;
}

.bold {
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .main {
        font-size: 36px;
    }
    .sub {
        font-size: 28px;
    }
}
